<div class="card text-white bg-warning mb-3" style="max-width: 200rem;">
    <div class="card-header" align="center">
        <h1>Order Form</h1>
    </div>

    <div class="card-body" align="center">
        <div class="card border-info mb-3">
            <div class=" card-header">
                <h1>
                    <font face="Courier" color="black">
                        List of Restaurant
                    </font>
                </h1>
            </div>


            <div class="body" align="center">
                <div class="form-group">
                    <font face="Courier" color="black">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                                checked="">
                            <label class="custom-control-label" for="customRadio1">MacDonald</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2">KFC
                            </label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio3">PizzaHut
                            </label>
                        </div>
                    </font>
                </div>
            </div>
        </div>
        <div class="card-body" align="center">
            <div class="card border-info mb-3">
                <div class=" card-header">
                    <h1>
                        <font face="Courier" color="black">
                            Set your Meal
                        </font>
                    </h1>
                </div>

                <div align="center" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-" type="text" placeholder="Insert your meal...">
                    <a class="btn btn-secondary my-2 my-sm-0" href="./location" role="button">Set</a>
                </div>
            </div>
        </div>
    </div>
</div>