<div class="card text-white bg-warning mb-3" style="max-width: 200rem;">
    <div class="card-header" align="center">
        <h1>Location Map</h1>
    </div>

    <div class="card-body" align="center">
        <div class="card border-info mb-3">
            <div class=" card-header">
                <h1>
                    <font face="Courier" color="black">
                        LOCATION
                    </font>
                </h1>
            </div>


            <div class="body" align="center">
                <div class="form-group">
                    <font face="Courier" color="black">



                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe width="600" height="500" id="gmap_canvas"
                                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD40tvFgKYtJKFzkDUQROv6_andOW7rt5c
                                    &q=Space+Needle,Seattle+WA"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                </iframe>
                                <a
                                    href="https://www.emojilib.com"></a></div>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 500px;
                                    width: 600px;
                                }

                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 500px;
                                    width: 600px;
                                }
                            </style>
                        </div>

                    </font>
                </div>
            </div>
        </div>
        <div class="card-body" align="center">
            <div class="card border-info mb-3">
                <div class=" card-header">
                    <h1>
                        <font face="Courier" color="black">
                            Pin Your Location 
                        </font>
                    </h1>
                </div>


                <div class="body" align="center" box-sizing:"border-box">
                    <font face="Courier" color="black">





                       





                         

                    </font>
                </div>
            </div>
        </div>